In [111]:
list3= ["mango","apple","banana","pineapple","custard apple","strawberry"]
list3

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [11]:
#display friuts all in uppercase
for fruit in list3:
    print(fruit.upper())

MANGO
APPLE
BANANA
PINEAPPLE
CUSTARD APPLE
STRAWBERRY

In [13]:
list3

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [17]:
list3[4]

'custard apple'

In [19]:
list3.count("banana")

1

In [21]:
#slicing
list3[0:4]

['mango', 'apple', 'banana', 'pineapple']

In [25]:
list3[0:4]

['mango', 'apple', 'banana', 'pineapple']

In [27]:
list3[-4::-1]  #negative index start at end from -1,:: means no end limit,stepsixe will be -1

['banana', 'apple', 'mango']

In [29]:
list3[-1]

'strawberry'

In [65]:
print(list3)
list3[::2]   #start from 0 ,2,4

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry', 'mulberry', 'mulberry', 'mulberry']

['mango', 'banana', 'custard apple', 'mulberry', 'mulberry']

In [43]:
n1=list(range(1,31))
print(n1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [45]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [47]:
print(list3)

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [49]:
list3[::-1]

['strawberry', 'custard apple', 'pineapple', 'banana', 'apple', 'mango']

In [51]:
#using of in kayword search substring  in given word
"the" in "netherland"

True

In [113]:
list3.append("mulberry")
print(list3)

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry', 'mulberry']

In [115]:
list3.remove("mulberry")
print(list3)

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [95]:
#display fruits with contain keyword as a berry
for fruit in list3:
    if "berry" in fruit:
        print(fruit)

strawberry
mulberry

In [97]:
for fruit in list3:
    if "pple" in fruit:
        print(fruit)

apple
pineapple
custard apple

In [117]:
list3.append("black berry")
print(list3)

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry', 'black berry']

In [119]:
list3.append('mulberry')
print(list3)

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry', 'black berry', 'mulberry']

In [123]:
#create list4 of fruit from list3 having ony berry as substracting and store remaining fruit
list4=[]  #list does not containa ny element
list5=[]
for fruit in list3:
    if "berry" in fruit:
        list4.append(fruit)
    else:
        list5.append(fruit)   #it start execute from first element mango so else block will execute
print(list4,end="")
print(list5,end="")

['strawberry', 'black berry', 'mulberry']['mango', 'apple', 'banana', 'pineapple', 'custard apple']

In [125]:
#square the number in l1 and store it in a l2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
    l2.append(i**2)  #i*i
print(l1,end="")
print(l2,end="")

[2, 3, 4, 5, 6][4, 9, 16, 25, 36]

In [129]:
#list comprehension makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end="")
print(l2,end="")

[2, 3, 4, 5, 6][4, 9, 16, 25, 36]

In [147]:
list3

['mango',
 'apple',
 'banana',
 'pineapple',
 'custard apple',
 'strawberry',
 'black berry',
 'mulberry']

In [135]:
newlist=[fruit for fruit in list3 if "berry" in fruit]   #from list3 element will added to fruit so it is used in initial
print(newlist)

['strawberry', 'black berry', 'mulberry']

In [141]:
newlist1=[i for i in list3 if "berry"not in i]
print(newlist1)

['mango', 'apple', 'banana', 'pineapple', 'custard apple']

In [143]:
city=["pune","mumbai","satara","thane","solapur","kolhapur"]
print(city)

['pune', 'mumbai', 'satara', 'thane', 'solapur', 'kolhapur']

In [145]:
newcity=[i for i in city if "pur" not in i]
print(newcity)

['pune', 'mumbai', 'satara', 'thane']

In [151]:
list3.index("strawberry")

5

In [155]:
print(list3,end="")

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry', 'black berry', 'mulberry']

In [157]:
list3[2]="orange"  # in index number 2 i justb insert orange so it is mutable(= used to assign)
list3

['mango',
 'apple',
 'orange',
 'pineapple',
 'custard apple',
 'strawberry',
 'black berry',
 'mulberry']

In [ ]:
#data structure :2.tuple
#tuple are not mutable 
#created using ()
#same as that as list but list has rich library function

In [1]:
t1=(10,20,30,40,50)
t1

(10, 20, 30, 40, 50)

In [3]:
type(t1)

tuple

In [5]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [7]:
t1[2]    # index should be in square brakets

30

In [13]:
t1[0]=100   # error because tupple are immutable
t1

TypeError: 'tuple' object does not support item assignment

In [15]:
t3=t1+(6,7,8,9,10)
t3

(10, 20, 30, 40, 50, 6, 7, 8, 9, 10)

In [17]:
t1*3

(10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50)

In [19]:
t1.count(50)

1

In [23]:
t1.index(40)

3

In [25]:
t2=(1,1,1,2,2,6,6,6,7,6,6,7)    # where the first repaeted value is present
t2.index(6)

5

In [27]:
t2.count(6)

5

In [29]:
t1

(10, 20, 30, 40, 50)

In [31]:
t1[2]

30

In [33]:
t1[1:5]

(20, 30, 40, 50)

In [35]:
t1[3:]

(40, 50)

In [ ]:
#data structure 3.dictionary
#these are used to store data values in "key":"value" pairs
#it collect the element ordered 'changable'not allow a duplication
# written with{"key:value"}
#here,keys are unique identifiers that are associated with each other.

In [7]:
capital_dict={"nepal":"katmandu","italy":"rome","england":"london"}
capital_dict

{'nepal': 'katmandu', 'italy': 'rome', 'england': 'london'}

In [9]:
list=(capital_dict.keys())
len(list)

3

In [11]:
type(capital_dict)

dict

In [43]:
dir(capital_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [51]:
#to access elements in dictionary
capital_dict["italy"]

'rome'

In [13]:
keys1=capital_dict.keys()
keys1

dict_keys(['nepal', 'italy', 'england'])

In [15]:
value=capital_dict.values()
value

dict_values(['katmandu', 'rome', 'london'])

In [17]:
type(keys1)

dict_keys

In [19]:
type(value)

dict_values

In [21]:
# using item output will displayed as(key ,value)
items=capital_dict.items()
items

dict_items([('nepal', 'katmandu'), ('italy', 'rome'), ('england', 'london')])

In [23]:
# the update() method updates the dictionary with the elements from another dictionary object or more an iterable of key/value pairs
add_capital={"india":"new delhi","abc":"xyz"}
capital_dict.update(add_capital)
capital_dict

{'nepal': 'katmandu',
 'italy': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'xyz'}

In [25]:
# another way to add values and keys instead of creating new dictionary
capital_dict.update({"australia":"sydney"})
capital_dict

{'nepal': 'katmandu',
 'italy': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'xyz',
 'australia': 'sydney'}

In [27]:
capital_dict.update({"a":"b","p":"q"})
capital_dict

{'nepal': 'katmandu',
 'italy': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'xyz',
 'australia': 'sydney',
 'a': 'b',
 'p': 'q'}

In [29]:
# the pop() remove and return an element from a dictionary having the given element
capital_dict.pop("australia")

'sydney'

In [31]:
capital_dict

{'nepal': 'katmandu',
 'italy': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'xyz',
 'a': 'b',
 'p': 'q'}

In [35]:
capital_dict["abc"]="mumbai"  
#instead of value xyz we have to replace it with mumbai
capital_dict

{'nepal': 'katmandu',
 'italy': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'mumbai',
 'a': 'b',
 'p': 'q'}

In [37]:
capital_dict.popitem()  # in default it remoce last values

('p', 'q')

In [129]:
capital_dict

{'nepal': 'katmandu',
 'italy': 'rome',
 'england': 'london',
 'india': 'new delhi',
 'abc': 'mumbai',
 'a': 'b'}

In [103]:
#dictionary value of different data type
mylist=["mango","apple","banana","pineapple","custard apple","strawberry"]
mylist

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [105]:
len(mylist)

6

In [49]:
mytuple=(20,53,45,78,89,65,97)
mytuple

(20, 53, 45, 78, 89, 65, 97)

In [111]:
mydict={"a":mylist,
        "b":mytuple,
        "c":capital_dict}
mydict

{'a': ['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry'],
 'b': (20, 53, 45, 78, 89, 65, 97),
 'c': {'nepal': 'katmandu',
  'italy': 'rome',
  'england': 'london',
  'india': 'new delhi',
  'abc': 'mumbai',
  'a': 'b'}}

In [113]:
mydict["a"]

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [115]:
len(mydict)

3

In [117]:
len(mydict['a'])

6

In [83]:
mydict['a'][0]

['mango', 'apple', 'banana', 'pineapple', 'custard apple', 'strawberry']

In [87]:
mydict["b"]

(20, 53, 45, 78, 89, 65, 97)

In [89]:
len(mydict['b'])

7

In [125]:
mydict['a'][5]

'strawberry'

In [133]:
mydict['c']["england"]   # in dictionary we didnot use index we use key

'london'

In [135]:
# math function :can import specific function or all using*
sqrt(25)  # to solve these 2 ways are there

NameError: name 'sqrt' is not defined

In [137]:
from math import sqrt   #1st way
sqrt(25)

5.0

In [139]:
from math import factorial
factorial(5)

120

In [143]:
from math import sin,cos,tan
cos(0)

1.0

In [145]:
from math import *
listnew=[5,2,3]
prod(listnew)

30

In [153]:
import math   #2nd way
sequence=(2,22,5,6)
math.prod(list4)

60

In [151]:
list4=(3,4,5)
list4

(3, 4, 5)

In [155]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [163]:
import math as mt

In [161]:
math.sqrt(36)

6.0

In [165]:
mt.sqrt(36)

6.0